<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../img/laroca.png">
    <link rel="stylesheet" href="./stylesheets/index.css">
    <title>Little tests</title>
</head>
<body>
    <div class="content">
        <h1>My little tests :D</h1>
        <img src="./img/maxwell.png">
        <p>is your name <%= locals.name %>? Probably not :D</p>

        <div class="equationFormOutline"><div class='module'>
            <div class="tooltip"><a href="/misc/pointlessGame">Pointless Game</a><span class="tooltiptext">A simple game... absolutely Pointless</span></div>
            <br><br>
            <div class="tooltip"><a href="/misc/linear">Linear Equations</a><span class="tooltiptext">A linear equation calculator, it gives you the value of x! not the most sophisticated one though</span></div>
            <br><br>
            <div class="tooltip"><a href="/misc/quadratic">Quadratic Equations</a><span class="tooltiptext">Quadratic equation calculator :D works pretty well :)</span></div>
            <br><br>
            <div class="tooltip"><a href="/misc/flappy">Flappy Bird</a><span class="tooltiptext">Flappy Bird! it's a copy, but works well :D</span></div>
            </div></div>
    </div>
</body>
</html>