<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Tests and stuff | Pointless game</title>
    <link rel="stylesheet" href="../stylesheets/index.css">
    <link rel="icon" type="image/x-icon" href="../img/laroca.png">
</head>
<body>
    <div class='parent'>
        <h1>"game or website"</h1>
        <p>
            This idea was created by Traven (aka Venice) and some tweaks made by me :] <br><br>
            The idea is to just type stuff in the box below and click submit, you'll get an score based 
            on how many times you have clicked the submit button with text in the box, simple isn't it?
        </p>
        <div id='gamestuff'><div class='module'>
            <form id="myForm">
                <label for="text">Text:</label>
                <input type="text" id="text" name="text" required>
          
                <button type="button" onclick="formGame()" id='submit'>Submit</button>
            </form>
            <p id="points">points: </p>
        </div></div>
        <br>
        <a href="/">Home</a>
    </div>

    <script src='../scripts/wv-script.js'></script>
</body>
</html>